banana
dipy
bokeh
datalad[full]
duecredit
fury
holoviews
ipython
jupyter
jupyterlab
jupyter_contrib_nbextensions
keras
nbconvert
nbformat
nbval
nitime 
nibabel
nilearn
nipy
nipype
nistats
matplotlib==3.0.3
nose
numpy
pandas
pingouin==0.2.4
plotly
git+https://github.com/bids-standard/pybids.git
pymvpa2
pytest
scipy==1.2
scikit-image
scikit-learn
seaborn
statsmodels
tensorflow
traits
vtk