banana
dipy
bokeh
datalad[full]
duecredit
fury
holoviews
ipython
jupyter
jupyterlab
jupyter_contrib_nbextensions
keras
nbconvert
nbformat
nbval
nitime 
nibabel
nilearn
nipy
nipype
nistats
matplotlib==3.0.2
nose
numpy
pandas
pingouin==0.2.9
plotly
git+https://github.com/bids-standard/pybids.git
pytest
scipy
scikit-image
scikit-learn
seaborn
statsmodels
traits
vtk