fury
nitime 
nibabel
nilearn
nistats
pingouin==0.2.4
matplotlib==3.0.3
nose
git+https://github.com/bids-standard/pybids.git
scipy==1.2
ipython
jupyter
jupyterlab
jupyter_contrib_nbextensions
nbconvert
nbformat
numpy
pandas
pytest
scikit-image
scikit-learn
seaborn
statsmodels
traits
dipy
bokeh
holoviews
plotly
keras
nbval
nibabel
nilearn
nitime
nipy
nipype
pybids
pymvpa2
tensorflow
datalad[full]
vtk